<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Anki-Lernassistent</string>
    <key>CFBundleExecutable</key>
    <string>AnkiLernassistent</string>
    <key>CFBundleIdentifier</key>
    <string>app.whiteshirtbuilds.ankiassistant</string>
    <key>CFBundleName</key>
    <string>Anki-Lernassistent</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Der Anki-Lernassistent benötigt das Mikrofon, um deine gesprochenen Antworten zu verstehen.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Der Anki-Lernassistent benötigt die Spracherkennung für gesprochene Lernantworten.</string>
</dict>
</plist>
